<div class="landing-container">
  <div class="image-container">
    <img
      src="https://i1.pickpik.com/photos/981/336/896/people-diet-fit-fitness-preview.jpg"
      alt="" />
  </div>
  <div class="hero">
    <h1>Welcome to MeFit!</h1>
    <h3>
      The groundbreaking fitness application designed to help you achieve your
      workout goals and maintain a consistent exercise routine.
    </h3>
    <div class="button-container">
      <button mat-raised-button color="primary" class="btn btn-primary">
        Brows Workout Programs
      </button>
      <button mat-raised-button color="accent" class="btn btn-primary">
        Create a user
      </button>
    </div>
  </div>
  <div class="content">
    <div class="program card">
      <h3>Multiple Programs to chose from</h3>
      <button mat-raised-button color="accent">Discover them all here</button>
    </div>
    <div class="workout card">
      <h3>Workouts for everybody</h3>
      <button mat-raised-button color="accent">Discover them all here</button>
    </div>
    <div class="exercise card">
      <h3>Multiple Exercises to try out</h3>
      <button mat-raised-button color="accent">Discover them all here</button>
    </div>
  </div>
</div>
