.program-form {
  box-sizing: border-box;
  background-color: #fefefe;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-radius: 10px;
}

.set-rep-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 35%;
  gap: 10px;
  & > h3 {
    text-align: center;
    text-transform: capitalize;
  }
  @media (max-width: 1400px) {
    margin-right: 20%;
  }
  @media (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
