<div class="info-card-container">
  <mat-card class="info-card" (click)="emitId()">
    <img
      mat-card-image
      src="https://hips.hearstapps.com/hmg-prod/images/running-track-1667904802.jpg?crop=0.668xw:1.00xh;0.0737xw,0&resize=1200:*" />
    <div class="card-info">
      <h3>{{ name }}</h3>
      <p>{{ description }}</p>
    </div>
    <div class="card-stats">
      <ng-container *ngFor="let key of orderOfKeys">
        <ng-container *ngIf="stats[key] !== undefined">
          <div class="stat">
            <p>{{ key }}</p>
            <p>{{ stats[key] }}</p>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </mat-card>
  <div class="card-add-button" (click)="add()">
    <div class="green-background"></div>
    <mat-icon class="add-icon">add</mat-icon>
  </div>
</div>
