<div class="details-container">
  <div class="information-container">
    <div class="image-container">
      <img src="{{ imgUrl }}" alt="" />
    </div>
    <div class="info-container">
      <h3>{{ name }} {{ id }}</h3>
      <p>{{ description }}</p>
      <div class="content-list">
        <ng-container *ngFor="let exercise of exercises">
          <div>This is a excessive with id {{ exercise }}</div>
        </ng-container>
      </div>
    </div>
    <div class="stat-info">
      <div class="stat-container">
        <ng-container *ngFor="let key of orderOfKeys">
          <ng-container *ngIf="stats[key] !== undefined">
            <div class="stat">
              <p>{{ key }}</p>
              <p>{{ stats[key] }}</p>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="tags">
        <ng-container *ngFor="let tag of tags">
          <span class="tag">#{{ tag }}, </span>
        </ng-container>
      </div>
      <p>Creator: {{ creator }}</p>
    </div>
  </div>
  <button mat-raised-button color="primary">Add</button>
</div>
