p {
  margin: 5px;
}

.edit-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f5f7;
}

.edit-form {
  background-color: #fefefe;
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 33%;

  border-radius: 10px;
  justify-content: center;

  @media (max-width: 768px) {
    width: 90%;
    margin-top: 20px;
  }
}
