p {
    margin: 5px;
}

.edit-profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F5F7;
}

.edit-form {
    background-color: #FEFEFE;
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 33%;

    border-radius: 10px;
    justify-content: center;
}