<div class="profile-page">
    <div class="profile-card">
        <div class="profile-img">
            <img src="{{user.profilePicture}}" alt="pfp">
        </div>

        <div class="profile-info">
            <p>Name: {{user.name}}</p>
            <p>Email: {{user.email}}</p>
            <p>Hight: {{user.height}}cm</p>
            <p>Weight: {{user.weight}}kg</p>
        </div>

        <div class="profile-bio">
            <h2>Bio</h2>
            <p>{{user.bio}}</p>
        </div>
    </div>
</div>

