img {
    height: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
}

.profile-page {
    padding: 30px;
}

.profile-card {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    position: relative;
    
}

.left {
    display:flex;
    align-items: center;
}

.profile-img {
    height: 200px;
}

.profile-info {
    margin-left: 30px;
}
.info-span {
    font-weight: bold;
    margin-right: 10px;
}

.profile-bio {
    max-width: 400px;
}

.profile-bio > p {
    overflow-y: scroll;
    max-height: 200px;
}


.edit-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    border-radius: 10px;
    background-color: inherit;
}
.edit-btn:hover {
    cursor: pointer;
    background-color: rgb(214, 214, 214);
}