<div class="creation-container">
  <div>
    <h1>Welcome to the creation page</h1>
    <p>
      Underneath you can create a program or an workout. Please start by
      choosing the type you want to create
    </p>
  </div>
  <div>
    <mat-checkbox
      class="example-margin"
      [checked]="createProgram"
      (change)="setCreateProgram($event.checked)">
      Program
    </mat-checkbox>
    <mat-checkbox
      class="example-margin"
      [checked]="createWorkout"
      (change)="setCreateWorkout($event.checked)">
      Workout
    </mat-checkbox>
    <mat-checkbox
      class="example-margin"
      [checked]="createExercise"
      (change)="setCreateExercise($event.checked)">
      Exercise
    </mat-checkbox>
  </div>

  <div id="create-program">
    <ng-container *ngIf="createProgram">
      <h2>Create program</h2>
      <app-program-creation-form class="creation-form">
      </app-program-creation-form>
    </ng-container>
    <ng-container *ngIf="createWorkout">
      <h2>Create workout</h2>
      <app-workout-creation-form
        class="creation-form"></app-workout-creation-form>
    </ng-container>
    <ng-container *ngIf="createExercise">
      <h2>Create exercise</h2>
      <app-exercise-creation-form
        class="creation-form"></app-exercise-creation-form>
    </ng-container>
  </div>
</div>
