<mat-toolbar color="primary" class="navbar">
  <img class="logo" src="/assets/logo.png" alt="logo" width="50px">
  <h1 class="nav-title">MeFit</h1>
  <div class="nav-buttons">
    <a routerLink="/" mat-button class="selected">Dashboard</a>
    <a routerLink="/programs" mat-button>Programs</a>
    <a routerLink="/workouts" mat-button>Workouts</a>
    <a routerLink="/excercises" mat-button>Exercises</a>
    <a routerLink="/profile" mat-button>Profile</a>
  </div>
  <span class="navbar-spacer"></span>

  <ng-container *ngIf="isLoggedIn | async; then loggedIn else loggedOut"></ng-container>

  <ng-template #loggedIn>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
  </ng-template>
  
  <ng-template #loggedOut>
    <button class="login-btn" mat-raised-button (click)="login()">Login</button>
  </ng-template>
  
  <mat-icon class="user-icon">account_circle</mat-icon>
</mat-toolbar>
