* {
  color: #fff;
  & button > span {
    font-size: 1rem;
    color: #fff;
  }
}

.selected {
  background-color: #fff;
  > span {
    color: var(--primary-color) !important;
  }
}
.navbar-spacer {
  flex: 1 1 auto;
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
}

.logo {
  border-radius: 10px;
  margin-right: 10px;
  font-size: 24px;
}

.nav-title {
  font-weight: bold;
}

.nav-buttons {
  margin-left: 30px;
}

.nav-buttons > a {
  margin-right: 10px;
  text-decoration: none;
}

.mat-mdc-raised-button {
  --mdc-protected-button-container-color: #2d7556;
}

.pfp {
  border-radius: 50%;
}

.menu {
  margin-right: 10px;
  background-color: #38926b;
  border-radius: 50%;
  padding: 5px;
}

.menu:hover {
  cursor: pointer;
  background-color: #2d7556;
}

.menu-button {
  display: none;
}
.user-container {
  display: flex;
  color: #fff;
  & > a {
    font-size: 1rem;
    color: #fff;
  }
}

@media (max-width: 768px) {
  .nav-buttons {
    display: none;
  }

  .menu-button {
    display: block;
  }
  .user-container {
    display: none;
  }
}

.user-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: content;
  align-items: center;
}
.logout-hamburger {
  color: rgb(255, 84, 84);
  & > span {
    color: rgb(255, 84, 84);
  }
}
