<mat-toolbar color="primary" class="navbar">
  <a routerLink="/">
    <img class="logo" src="/assets/logo.png" alt="logo" width="50px" />
  </a>
  <h1 class="nav-title">MeFit</h1>
  <div class="nav-buttons">
    <a routerLink="/dashboard" mat-button routerLinkActive="selected"
      >Dashboard</a
    >
    <a routerLink="/programs" mat-button routerLinkActive="selected"
      >Programs</a
    >
    <a routerLink="/workouts" mat-button routerLinkActive="selected"
      >Workouts</a
    >
    <a routerLink="/exercises" mat-button routerLinkActive="selected"
      >Exercises</a
    >
    <a routerLink="/creation" mat-button routerLinkActive="selected" *ngIf="this.userRolesID.includes(2)"
      >Creation</a
    >
  </div>
  <span class="navbar-spacer"></span>
  <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a routerLink="/dashboard" mat-menu-item routerLinkActive="selected"
      >Dashboard</a
    >
    <a routerLink="/programs" mat-menu-item routerLinkActive="selected"
      >Programs</a
    >
    <a routerLink="/workouts" mat-menu-item routerLinkActive="selected"
      >Workouts</a
    >
    <a routerLink="/exercises" mat-menu-item routerLinkActive="selected"
      >Exercises</a
    >
    <a routerLink="/creation" mat-menu-item routerLinkActive="selected"
      >Creation</a
    >

    <div class="user-hamburger">
      <ng-container
        *ngIf="
          isLoggedIn | async;
          then loggedInS;
          else loggedOutS
        "></ng-container>

      <ng-template #loggedInS>
        <a routerLink="/profile" mat-menu-item routerLinkActive="selected"
          >Profile</a
        >
        <button mat-menu-item (click)="logout()" class="logout-hamburger">
          Logout
        </button>
      </ng-template>

      <ng-template #loggedOutS>
        <button class="login-btn" mat-raised-button (click)="login()">
          Login
        </button>
      </ng-template>
    </div>
  </mat-menu>

  <div class="user-container">
    <span class="navbar-spacer"></span>
    <ng-container
      *ngIf="isLoggedIn | async; then loggedIn; else loggedOut"></ng-container>

    <ng-template #loggedIn>
      <mat-icon class="menu" [matMenuTriggerFor]="menu">list</mat-icon>
      <mat-menu #menu="matMenu">
        <a routerLink="/profile" mat-menu-item routerLinkActive="selected"
          >Profile</a
        >

        <button
          mat-menu-item
          (click)="logout()"
          style="color: rgb(255, 84, 84)">
          Logout
        </button>
      </mat-menu>
    </ng-template>

    <ng-template #loggedOut>
      <button class="login-btn" mat-raised-button (click)="login()">
        Login
      </button>
    </ng-template>
  </div>
  <a class="image-container" *ngIf="user | async as user" routerLink="/profile" >
    <img class="pfp" src="{{ user.profilePicture }}" alt="pfp" width="50px" />
  </a>
</mat-toolbar>
