<form class="program-form" [formGroup]="form" (submit)="handleSubmit($event)">
  <mat-form-field>
    <mat-label>Program name</mat-label>
    <input matInput type="text" name="Name" formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Program description</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="10"
      formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Experience level</mat-label>
    <mat-select matInput type="text" formControlName="experienceLevel">
      <mat-option *ngFor="let option of experienceLevels" value="{{ option }}">
        {{ option }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Image (insert image url)</mat-label>
    <input matInput type="text" name="ImageUrl" formControlName="imageUrl" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Workouts</mat-label>
    <mat-select matInput type="number" formControlName="workouts" multiple>
      <mat-option *ngFor="let workout of workouts" value="{{ workout.id }}">
        {{ workout.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select matInput type="text" formControlName="category">
      <mat-option *ngFor="let option of programCategories" value="{{ option }}">
        {{ option }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Duration (days)</mat-label>
    <input matInput type="number" name="ImageUrl" formControlName="duration" />
  </mat-form-field>

  <button mat-flat-button color="accent" type="submit">Submit</button>
</form>
