/* For use in src/lib/core/theming/_palette.scss */
$primary: (
    50 : #e8f8ef,
    100 : #c6ecd8,
    200 : #a0e0be,
    300 : #7ad4a3,
    400 : #5eca90,
    500 : #41c17c,
    600 : #3bbb74,
    700 : #32b369,
    800 : #2aab5f,
    900 : #1c9e4c,
    A100 : #d6ffe4,
    A200 : #a3ffc2,
    A400 : #70ffa0,
    A700 : #57ff90,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$accent: (
    50 : #e3e4e9,
    100 : #b9bdc8,
    200 : #8b91a4,
    300 : #5c647f,
    400 : #394363,
    500 : #162248,
    600 : #131e41,
    700 : #101938,
    800 : #0c1430,
    900 : #060c21,
    A100 : #5e77ff,
    A200 : #2b4bff,
    A400 : #0025f7,
    A700 : #0021de,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$warn: (
    50 : #fbeded,
    100 : #f5d1d1,
    200 : #efb2b2,
    300 : #e99393,
    400 : #e47c7c,
    500 : #df6565,
    600 : #db5d5d,
    700 : #d75353,
    800 : #d24949,
    900 : #ca3737,
    A100 : #ffffff,
    A200 : #ffe1e1,
    A400 : #ffaeae,
    A700 : #ff9595,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

