<div class="details-container">
  <div class="information-container">
    <div class="image-container">
      <img src="{{ exercise.image }}" />
    </div>
    <div class="info-container">
      <h3>{{ exercise.name }} {{ exercise.id }}</h3>
      <p>{{ exercise.description }}</p>
      <div class="media-container">
        <iframe
          width="640"
          height="360"
          [src]="exercise.video | safe"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
