<div class="form-container">
    <form class="form" [formGroup]="form" (submit)="handleSubmit($event)">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" name="Name" formControlName="name" >
            <mat-error *ngIf="this.form.get('name')?.hasError('maxlength')">Name To Long</mat-error>
            <mat-error *ngIf="this.form.get('name')?.hasError('minlength')">Name To Short</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Bio</mat-label>
            <textarea matInput type="text" formControlName="bio"></textarea>
            <mat-error *ngIf="this.form.get('bio')?.hasError('maxlength')">Bio to long max length 250</mat-error>
        </mat-form-field>

        <button type="submit">Submit</button>

    </form>
</div>